@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: #67727e;
  background-color: #f5f6fa;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  min-height: 100vh;
}

.comments {
  padding: 50px 20px;
}

.comments__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto (1fr)[2];
      grid-template-columns: auto auto repeat(2, 1fr);
  -ms-grid-rows: 40px auto;
      grid-template-rows: 40px auto;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 15px;
}

@media (max-width: 563px) {
  .comments__item {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 40px 1fr 40px;
        grid-template-rows: 40px 1fr 40px;
    gap: 10px;
  }
}

.comments__author {
  color: #324152;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__author img {
  width: 40px;
  height: 40px;
}

.comments__author-name {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 500;
}

.comments__period {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #67727e;
}

.comments__body {
  grid-column: span 3;
  line-height: 1.5rem;
  font-size: 18px;
}

.comments__counter {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

@media (max-width: 563px) {
  .comments__counter {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comments__actions {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 25px;
}

@media (max-width: 563px) {
  .comments__actions {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.comments__delete {
  color: #ed6468;
}

.comments__delete::before {
  margin-right: 10px;
  font-size: 14px;
}

.comments__reply {
  color: #5457b6;
}

.comments__reply::before {
  margin-right: 10px;
  font-size: 14px;
}

.counter__inner {
  padding: 13px 15px;
  color: #c3c4ef;
  background-color: #f5f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 15px;
  font-size: 12px;
}

@media (max-width: 563px) {
  .counter__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.counter__sign {
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.counter__sign:hover {
  color: #5457b6;
}

.counter__digit {
  color: #5457b6;
  font-size: 16px;
  font-weight: 500;
}

.replies__template {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 88px auto;
      grid-template-columns: 88px auto;
}

.replies__aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: span 2;
  position: relative;
}

.replies__aside::after {
  content: "";
  position: absolute;
  background-color: #eaecf1;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 2px;
  height: 100%;
}

.replies__item2 {
  margin-bottom: 20px;
}

.replies__item2:last-child {
  margin-bottom: 0;
}
